@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html {
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  line-height: 1;
  letter-spacing: 1px;
}

h2,
h3,
h4 {
  margin-bottom: 3rem;
}

p {
  line-height: 1.618;
}
