.guides-page {
  max-width: $page-width;
  margin: 4rem auto;

  &__guides {
    &__guide {
      margin: 2rem 0;
      padding: 3rem 2rem;
      border-radius: $border-radius;
      background-color: #fff;
      box-shadow: $box-shadow;

      h3 {
        margin-bottom: 1.5rem;
      }

      h4 {
        font-weight: 500;
        color: $text-mid;
      }
    }
  }
}
