@import "partials/variables";
@import "partials/typography";
@import "components/navbar";
@import "components/guides";

// Reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 1.8rem;
  color: $text-dark;
  background-color: $bg-color;
}

.container {
  max-width: $page-width;
  margin: 0 auto;
}

.homepage {
  max-width: 76rem;
  margin: 4rem auto;
}

.error {
  padding: 2rem;
  color: crimson;
  font-weight: 600;
  text-align: center;
  background: pink;
  border: 1px solid crimson;
  border-radius: $border-radius;
}
